.mTitle {
  color: white;
}

.loading{
  color: white;
}


.image-container {
 display: flex;
 justify-content: center;
}

.movie-backdrop {
  height: 80%;
  max-width: 70%;
  margin: 80px 20px 10px 20px;
}

.single-movie-release-date {
  color: white;
}

.movies-details-box {
  color: white;
}

.single-movie-overview {
  color: white;
}