
header {
  display: flex;
  align-items: center;
  background: black;
  /* opacity: .7; */
  width: 100vw;
  margin-left: 0;
  padding: 0;
}

.site-name {
  margin-left: 5vw;
  color: rgb(255, 255, 255);
}

.headerLink {
  text-decoration: none;
  color: #ffffff;
}

.headerLink:hover {
  color: #5eff00;
}