.thumbnail {
  box-sizing: border-box;
  border: 2px solid #9ac3dd;
  color: #9ac3dd;
  background-color: #070708;
  display: flex;
  flex-direction: column;
  padding: .75em;
  max-width: 30rem;
}

/* The following code ensures that images will fill whatever their container is*/
.movie-img {
  /* display: block; */
  border: 2px solid #9ac3dd;
  width: 10%vw;
  /* max-width: 100% */
}

.card-container {
  display: flex;
  cursor: pointer;
  flex-wrap: wrap;

}