/* 
.nav {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 20px;
  
  transition-timing-function: ease-in;
  transition: all 0.5s;
  display: flex;
  justify-content: space-between;
} */

.logo-image {
  /* margin-top: 10px; */
  margin-left: 10px;
  max-width: 15%;
  height: auto;
}

.site-name {
  font-size: 2.8em;
  margin-top: 40px;
  margin-left: 5px;
}

.page-header {
  display: flex;

}

.site-name-container {
  /* border-style: solid;
  border-radius: 5px; 
  border-color: yellow;  */
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 25%;
}



.link-container {
  /* border-style: solid;
  border-radius: 5px;
  border-color: red; */
  font-family: 'Russo One', sans-serif;
  /* font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Calisto MT, Times New Roman, serif; */
  font-size: 2em;
  font-weight: bold;
  display: flex;
  width: 40%;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
}

.headerLink {
  text-decoration: none;
  padding: 30px;
}

.header-logo {
  height: auto;
  width: 30vw;
}

.link-text {
  color: white;
  text-decoration: none;
}

/* .nav__black {
  background-color: black;
} */